{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}

    <div>
        <h1>Reminders</h1>
        {% if reminder_list %}
            <table class="table table-bordered">
                <tbody>
                    {% for reminder in reminder_list %}
                    <tr>
                        <td>{{ reminder.text }}</td>
                        <td><form method="post">{% csrf_token %}
                            <input type="hidden" value={{ reminder.id }} name={{ delete_item_id_post_idx }}>
                            <input type="submit" class="btn btn-danger" value='X' name={{ delete_item_submit_value }} >
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nothing to remember</p>
        {% endif %}

    </div>
    <div>
        <h3>Add new</h3>
        <form method="post">{% csrf_token %}{{ reminder_form|crispy }}<input type="submit" class="btn btn-success" name={{ reminder_submit_value }} value="Save"/></form>
    </div>

{% endblock %}
