{% extends "base.html" %}

{% block page_content %}
<div>
    <h1>Roster</h1>
    {% if chore_assignments %}
        <table class="table table-bordered">
            <tbody>
                {% for assignment in chore_assignments %}
                <tr>
                    <td style="background-color: #ff860d;">{{ assignment.flattie }}</td>
                    <td style="background-color: #ff860d;">{{ assignment.chore }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No roster has been setup for this flat yet!</p>
    {% endif %}
</div>
{% endblock %}
