{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}

<div>
<h1>Shopping List</h1>
    {% if shopping_list %}
        <table class="table table-bordered">
            <tbody>
                {% for item in shopping_list %}
                <tr>
                    <td>{{ item.text }}</td>
                    <td><form method="post">{% csrf_token %}
                        <input type="hidden" value={{ item.id }} name={{ delete_item_id_post_idx }}>
                        <input type="submit" class="btn btn-danger" value='X' name={{ delete_item_submit_value }} >
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>We are all stocked up!! (Or broke..?)</p>
    {% endif %}
</div>
<div>
    <h3>Add new</h3>
    <form method="post">{% csrf_token %}{{ shopping_list_form|crispy }}<input type="submit" class="btn btn-success" name={{ shopping_list_submit_value }} value="Save"/></form>
</div>
{% endblock %}
